@page "/login"
@inject NavigationManager NavigationManager
@inject IUserService UserService
@layout AuthenticateLayout

<div class="card mx-auto">
    <h4 class="title-text">Login To PrivateChat</h4>
    <div class="card-body">
        <EditForm Model="@loginData" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group p-3">
                <InputText @bind-Value="loginData.Username" class="form-control shadow-none" placeholder="Username" />
                <ValidationMessage For="@(() => loginData.Username)" />
            </div>
            <div class="form-group p-3">
                <InputText @bind-Value="loginData.Password" type="password" class="form-control shadow-none" placeholder="Password" />
                <ValidationMessage For="@(() => loginData.Password)" />
            </div>
            <div class="p-2">
                <button disabled="@loading" class="btn btn-primary">
                @if (loading) 
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Login
            </button>
            </div>
            <div class="form-group p-2">
                <NavLink href="register" class="btn btn-link">Don't have an account ?</NavLink>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private LoginCredentials loginData = new();
    private bool loading;

    private async void OnValidSubmit()
    {
        loading = true;
        try
        {   
            await UserService.Login(loginData);
            StateHasChanged();
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            loading = false;
            StateHasChanged();
        }
    }
}