@inherits LayoutComponentBase
@inject IUserService UserService

<PageTitle>Private Chat</PageTitle>
<MudThemeProvider @bind-IsDarkMode="@themeOn"/>
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    @if (LoggedIn)
    {
        <div class="sidebar">
            <NavMenu/>
        </div>
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public bool LoggedIn=false;
    private bool themeOn = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        LoggedIn = await UserService.GetCurrentUser() != null ? true : false;
        await InvokeAsync(StateHasChanged);
    }
}
